@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    My name is Wen Xu, you can call me Annie. I am a senior at Ohio University. My major is MIS and Business Analysis. I come from Yunnan, China.My hobby is playing video games, and I am a streamer. I'm very happy to gradyate this year and look forward to finding a full-time job.
</p>
