@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    33 University Estates Blvd<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:740-331-1222</abbr>
    
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:wx092414@ohio.edu">wx092414@ohio.edu</a><br />
    
</address>