@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wen Xu MIS4200fa</h1>
    <p class="lead">Welcome to my software development page for MIS4200 </p>
    <p><a href="https://business.ohio.edu/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Education</h2>
        <p>
            I am studying MIS, Business Analytics at Ohio University College of Business.
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/">Learn more &raquo;</a></p>
        <p>
            Sample pages for MIS4200<br />
            @Html.ActionLink("Students", "Index", "Students")</li> <br />
            @Html.ActionLink("Courses", "Index", "Courses")</li> <br />
            @Html.ActionLink("Enrollments", "Index", "Enrollments")</li> <br />
            @Html.ActionLink("Professors", "Index", "Professors")</li> <br />

        </p>
    </div>
    <div class="col-md-4">
        <h2>Involvement</h2>
        <p>This is the organization I have been engaged in for four years in university</p>
        <p><a class="btn btn-default" href="https://www.instagram.com/ccea_in_ou/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Future</h2>
        <p>I will look for a full-time job as a data analyst after graduation in December 2020</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/wen-xu-960b84183/">Learn more &raquo;</a></p>
        
    </div>
</div>